/* Add to existing styles */
.modal { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); display: flex; justify-content: center; align-items: center; }
.modalContent { background: #cfcfcf; padding: 20px; border-radius: 4px; width: 400px; text-align: center; }
.modalContent input { width: 100%; padding: 11px 10px; margin: 10px 0; border: none; border-radius: 4px; }
.modalContent button { padding: 10px 20px; margin: 5px; border: none; border-radius: 4px; cursor: pointer; }
.modalContent button:first-of-type { background-color: #379a61; color: #cfcfcf; }
.modalContent button:last-of-type { background-color: #ff4444; color: #cfcfcf; }

  /* Books.module.css */
.refreshButton { background-color: #000; color: #cfcfcf; border: none; border-radius: 4px; cursor: pointer; font-size: 14px; display: flex; align-items: center; width: 42px; justify-content: center; height: 42px;}
.refreshButton:hover { background-color: #379a61; color: #000; }
.main { padding: 15px 30px; margin: 0 auto; }
.h1 { font-size: 2rem !important; margin-bottom: 20px; color: #cfcfcf; }
.h2 { font-size: 1.5rem; margin: 20px 0; color: #cfcfcf; }
.title { font-size: 1.5rem; color: #cfcfcf; font-weight: 600;}
.form { display: flex; flex-direction: column; gap: 10px; max-width: 400px; }
.form input { padding: 10px; border: none; border-radius: 4px; }
.form button { padding: 10px; background-color: #379a61; color: #cfcfcf; border: none; border-radius: 4px; }
.order { border: none; padding: 10px; margin-bottom: 10px; border-radius: 4px; }
.bookGrid { display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 1rem; margin-top: 1rem; }
.booksWrapper { margin-bottom: 1rem; }
.booksWrapper>div { display: flex; flex-wrap: wrap;}
.viewbookCard { padding: 1rem; border-radius: 10px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); width: calc((100% / 4) - 14px); margin-right: 14px; background-color: rgb(10, 10, 10); margin-top: 1rem; display: flex;flex-direction: column;}
.booksWrapper>div .viewbookCard:first-child { margin-left: 0; }
.booksWrapper>div .viewbookCard:last-child { margin-right: 0; }
.booksWrapper>div .viewbookCard:nth-child(4n) { margin-right: 0; }
.viewbookCard h3 { margin: 0; color: #cfcfcf; }
.viewbookCard p { margin: 0.5rem 0; color: #cfcfcf; }
.searchInput { padding: 12.5px 10px; width: 300px; border: 1px solid #686868; border-radius: 4px; background-color: #0a0a0a;}
.searchButton { padding: 11px 20px; background-color: #000; color: #cfcfcf; border: none; border-radius: 4px; cursor: pointer; margin: 0 1rem;font-weight: 500; }
.searchButton:hover { background-color: #379a61;color: #000; }
.searchWrap { display: flex; margin: 1rem 0; }
.counterWrap { display: flex; align-items: center; gap: 0.5rem; margin-top: auto; }
.cartButton { padding: 11px 20px; background-color: #000; color: #cfcfcf; border: none; border-radius: 4px; cursor: pointer; margin: 0; margin-top: auto;width: 100%;max-width: 120px;font-weight: 500;}
.cartButton:hover { background-color: #379a61;color: #000; }
.counterWrap button { width: 42px; height: 42px; border-radius: 4px; border: none; background-color: #000; color: #cfcfcf; display: flex; justify-content: center; align-items: center; cursor: pointer; line-height: 30px;font-weight: 500; }
.counterWrap button:hover { background-color: #379a61;color: #000; }
.counterWrap span { font-size: 1.1rem; font-weight: 600; min-width: 20px; text-align: center; }
.loading{ display: flex; justify-content: center; align-items: center;color: #5e5e5e;font-size: 40px;font-weight: 500; }

@media (max-width:1399px) {
  .viewbookCard{width: calc((100% / 3) - 14px);}
  .booksWrapper>div .viewbookCard:nth-child(4n) { margin-right: 14px; }
  .booksWrapper>div .viewbookCard:nth-child(3n) { margin-right: 0; }
}
@media (max-width:991px) {
  .viewbookCard{width: calc((100% / 2) - 14px);}
  .booksWrapper>div .viewbookCard:nth-child(3n) { margin-right: 14px; }
  .booksWrapper>div .viewbookCard:nth-child(2n) { margin-right: 0; }
}

@media (max-width:767px) {
	.main { padding: 15px 20px;}
}