.cartContainer { padding: 15px 30px; margin: 0 auto; min-height: calc(100vh - 58px); display: flex; flex-direction: column; }
.cartList { display: flex; flex-wrap: wrap; width: 80%; }
.cartItem { padding: 1rem; border-radius: 10px; box-shadow: 0 2px 10px #0000001a; width: calc((100%/4) - 14px); margin-right: 14px; background-color: rgb(10, 10, 10); margin-top: 1rem; display: flex;flex-direction: column;}
.cartList .cartItem:nth-child(4n) { margin-right: 0; }
.cartItem p { margin-bottom: .5rem; color: #cfcfcf; }
.counterWrap { display: flex; align-items: center; gap: 0.5rem; margin-top: auto; }
.counterWrap button { width: 35px; height: 35px; border-radius: 4px; border: none; background-color: #000; color: #cfcfcf; display: flex; justify-content: center; align-items: center; cursor: pointer; line-height: 30px; font-weight: 500;}
.counterWrap button:hover { background-color: #379a61;color: #000; }
.counterWrap span { font-size: 1.1rem; font-weight: 600; min-width: 20px; text-align: center; }
.cartEmpty h1 { color: #5e5e5e; font-size: 40px; margin-bottom: 0; }
.cartEmpty { text-align: center; margin: auto; color: #5e5e5e; font-size: 16px; font-weight: 500;}
.cartEmpty .cartExplore { color: #d1d1d1; margin-top: .3rem; }
.viewBooksButton { margin-top: 16px; padding: 8.5px 18px; background-color: #000; color: #cfcfcf; border: none; border-radius: 4px; cursor: pointer; font-size: 16px; transition: background-color 0.3s ease; width: 100%; max-width: 200px; font-weight: 500;box-shadow: 0 0 10px #242424;}
.viewBooksButton:hover { background-color: #379a61;color: #000; }
.title { font-size: 1.5rem; color: #cfcfcf; font-weight: 600; }
.cartWrap { display: flex; align-items: start; flex-wrap: wrap; }
.summaryBox { width: 20%;}
.summaryBox { padding: 1rem; border-radius: 10px; box-shadow: 0 2px 10px #0000001a; background-color: #000; margin-top: 1rem; min-height: 300px; display: flex;flex-direction: column;}
.summaryBox h3 { margin-bottom: 2rem; font-size: 2rem; color: #cfcfcf; }
.summaryBox p { margin: 0.4rem 0; font-size: 1rem; color: #cfcfcf; display: flex; justify-content: space-between; align-items: center; }
.summaryBox p span { font-weight: 600; }
.buyNowButton { padding: 11px 20px; background-color: rgb(10, 10, 10); color: #cfcfcf; border: none; border-radius: 4px; cursor: pointer; margin: 0; width: 100%;margin-top: auto;font-weight: 500;}
.buyNowButton:hover { background-color: #379a61;color: #000; }
.buttonWrap { display: flex; width: 100%; margin-top: 1rem; }
.addButtonWrap { display: flex; margin-left: 1rem;}
@media (max-width:1399px) {
    .cartItem{width: calc((100% / 3) - 14px);}
    .cartList .cartItem:nth-child(4n) { margin-right: 14px; }
    .cartList .cartItem:nth-child(3n) { margin-right: 0; }
    .cartList{width: 100%;}
    .summaryBox { width: 100%;}
    .summaryBox h3 { margin-bottom: 1rem;}
}
@media (max-width:991px) {
    .cartItem{width: calc((100% / 2) - 14px);}
    .cartList .cartItem:nth-child(3n) { margin-right: 14px; }
    .cartList .cartItem:nth-child(2n) { margin-right: 0; }
    .summaryBox h3 { font-size: 1.8rem;}
  }

  @media (max-width:767px) {
	.cartContainer { padding: 15px 20px;}
  .summaryBox h3 { font-size: 1.5rem;}
}
@media (max-width:575) {
	.cartItem{width: 100%;margin-right: 0;}
  .title { font-size: 1.2rem;}
	.cartList .cartItem:nth-child(3n) { margin-right: 0; }
	.cartList .cartItem:nth-child(2n) { margin-right: 0; }
  }